.action-box {
    border-radius: 30px;
    width: 90%;
    height: 200px;
    background-color: #818181;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: normal;
    margin: 5%;
    margin-top: 15%;
    

    &__title {
        font-size: 30px;
        word-wrap: break-word;
        overflow: hidden;
    }

    &__number {
        font-size: 38px;
        text-align:center;
        font: bold;
    }

    &__margines {
        margin-left: 20px;
    }
}

.action-box:hover{
    background-color: #517ec1;
    outline-offset: 4px;
}