<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon mat-card-avatar>{{ createInititals(element.name) }}</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
    <td mat-cell *matCellDef="let element">{{ element.source }}</td>
  </ng-container>

  <ng-container matColumnDef="recruitmentName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Recruitment</th>
    <td mat-cell *matCellDef="let element">{{ element.recruitmentName }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
  </ng-container>

  <ng-container matColumnDef="stage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stage</th>
    <td mat-cell *matCellDef="let element">{{ element.stage }}</td>
  </ng-container>

  <ng-container matColumnDef="techId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tech ID</th>
    <td mat-cell *matCellDef="let element">{{ element.techId }}</td>
  </ng-container>

  <ng-container matColumnDef="techAssignee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tech Assignee</th>
    <td mat-cell *matCellDef="let element">{{ element.techAssignee }}</td>
  </ng-container>

  <ng-container matColumnDef="recruiterId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Recruiter ID</th>
    <td mat-cell *matCellDef="let element">{{ element.recruiterId }}</td>
  </ng-container>

  <ng-container matColumnDef="recruiterAssignee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Recruiter Assignee
    </th>
    <td mat-cell *matCellDef="let element">{{ element.recruiterAssignee }}</td>
  </ng-container>

  <ng-container matColumnDef="profile">
    <th mat-header-cell *matHeaderCellDef>Profile</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/profile/{{ element.id }}">See profile</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  (page)="getPaginatorData($event)"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
>
</mat-paginator>
