$color_dark: black;
$color_light: white;
$color_link: blue;

:host {
  width: 100%;
}

// Update: Styling each table by it's own //
table {
  width: 100%;
  // flex: 1;
}

.mat-cell {
  padding: 1px 5px;
}

.mat-column-profile {
  a {
    color: $color_link;
    text-decoration: none;
    cursor: pointer;
  }
}

.mat-header-cell {
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border-color: $color_dark;
}
th.mat-sort-header-sorted {
  color: $color_dark;
}
// mat-icon.mat-card-avatar {
//   border-radius: 20%;
//   background-color: orangered;
//   width: 40px;
//   height: 40px;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   color: $color_light;
//   font-size: 20px;
//   line-height: 20px;
//   font-family: Arial, Helvetica, sans-serif;
// }
