.conteiner{
    display: flex;
    flex-direction: column;
    &--center {
        justify-content: space-evenly;
      }
}
.day{
  min-width: 100px;
}

.cal-cell-top{
  min-height: 20px;
}
.cal-day-number{
  margin:2px;
}