.sidenav{
    display: flex;
    flex-direction: column;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__candidate{
        display: flex;
        flex-direction: row;
    }
}
.buttons{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
