<div class="sidenav">
    <div class="head">
        <div class="head__candidate">
            {{initial}}
            {{candidate.name}}
        </div>
        <button mat-button mat-dialog-close >
            <mat-icon >close</mat-icon>
        </button>
    </div>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="evaluationClicked()">Primary</button>
        <a mat-flat-button color="primary" (click)="closeDialog()" routerLink="/profile/{{candidate.id}}">Primary</a>

    </div>
</div>