<button (click)="logData()">Log JSON and data from API</button>
<div cdkDropListGroup class="fitScreen">
  <div class="example-container">
    <h2>new</h2>
    <div
      cdkDropList
      [cdkDropListData]="newCand"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of newCand" cdkDrag>
        {{ candidate }}
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="example-container">
    <h2>evaluation</h2>
    <div
      cdkDropList
      [cdkDropListData]="evaluation"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of evaluation" cdkDrag>
        {{ candidate }}
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>interview</h2>
    <div
      cdkDropList
      [cdkDropListData]="interview"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of interview" cdkDrag>
        {{ candidate }}
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="example-container">
    <h2>phone Interview</h2>
    <div
      cdkDropList
      [cdkDropListData]="phoneInterview"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of phoneInterview" cdkDrag>
        {{ candidate }}
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>
  <div class="example-container">
    <h2>tech interview</h2>
    <div
      cdkDropList
      [cdkDropListData]="techInterview"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of techInterview" cdkDrag>
        {{ candidate }}
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="example-container">
    <h2>hired</h2>
    <div
      cdkDropList
      [cdkDropListData]="hired"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of hired" cdkDrag>
        {{ candidate }}
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="example-container">
    <h2>dropped out</h2>
    <div
      cdkDropList
      [cdkDropListData]="dropped"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of dropped" cdkDrag>
        {{ candidate }}
      </div>
    </div>
  </div>
</div>
