<div cdkDropListGroup class="fitScreen">
  <div class="example-container">
    <h2>new</h2>
    <div
      id="NEW"
      cdkDropList
      [cdkDropListData]="newCand"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of newCand" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>evaluation</h2>
    <div
      id="EVALUATION"
      cdkDropList
      [cdkDropListData]="evaluation"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of evaluation" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>interview</h2>
    <div
      id="INTERVIEW"
      cdkDropList
      [cdkDropListData]="interview"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of interview" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>phone Interview</h2>
    <div
      id="PHONE_INTERVIEW"
      cdkDropList
      [cdkDropListData]="phoneInterview"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of phoneInterview" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>tech interview</h2>
    <div
      id="TECH_INTERVIEW"
      cdkDropList
      [cdkDropListData]="techInterview"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of techInterview" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>offer</h2>
    <div
      id="OFFER"
      cdkDropList
      [cdkDropListData]="offer"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of offer" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>hired</h2>
    <div
      id="HIRED"
      cdkDropList
      [cdkDropListData]="hired"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of hired" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>dropped out</h2>
    <div
      id="DROPPED_OUT"
      cdkDropList
      [cdkDropListData]="dropped"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of dropped" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <mat-divider [vertical]="true"></mat-divider>

  <div class="example-container">
    <h2>Incorrectly marked</h2>
    <div
      id="INCORRECT"
      cdkDropList
      [cdkDropListData]="incorrect"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let candidate of incorrect" cdkDrag>
        <mat-icon mat-card-avatar>{{
          createInititals(candidate.name)
        }}</mat-icon>
        <div>
          <div class="inBox--bold">{{ candidate.name }}</div>
          <div class="inBox--italic">{{ candidate.recruitmentName }}</div>
        </div>
      </div>
    </div>
  </div> -->
</div>
