$color_light: white;
$color_dark: black;

:host {
  background-color: $color_dark;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: $color_light;
  padding: 0 5vw 0 1vw;
}
.button {
  color: $color_light;
}
