
.list{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.muiMargin {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: -40px;
}
.muiMargin span {
    text-transform: lowercase;
    display:inline-block;
}

.muiMargin span:first-letter{
    text-transform: uppercase;
}

#idstatus {
    accent-color: blue
}

#idEVALUATION {
    accent-color: rgb(70, 245, 248);
}
#idINTERVIEW {
    accent-color: orange
}
#idPHONE_INTERVIEW {
    accent-color: rgb(241, 54, 54);
}
#idTECH_INTERVIEW {
    accent-color: rgb(156, 9, 156);
}
#idOFFER {
    accent-color: rgb(84, 189, 234);
}
#id5 {
    accent-color: red;
}

// ::ng-deep .a .mat-checkbox-checked .mat-checkbox-background
//  {
//   background-color: blue !important;
// }
