<div class="container container__column">
    <!-- <form [formGroup]="checkboxForm"> -->

   
    <ul class="container container__column list">
        <li >
            {{checkboxLabels.status}}
            <ul class="list" class="container container__column muiMargin">
                <div *ngFor="let checkBox of statusToSubfilter let i = index">
                    <label >
                        <input type="checkbox" id="id{{checkBox.color}}" checked="{{checkBox.checked}}" >
                    <span> {{checkBox.name}} </span>
                    </label>
                </div>
            </ul>
        </li>
        <li *ngIf="isStage" >
            {{checkboxLabels.stage}}
            <ul class="list" class="container container__column muiMargin">
                <div *ngFor="let checkBox of stageToSubfilter; let i = index">
                    <label>
                        <input type="checkbox" id="id{{checkBox.color}}" checked="{{checkBox.checked}}" ><span>{{checkBox.name}}</span></label>
                </div>
            </ul>
        </li>
    </ul>
   
    <mat-form-field *ngIf="isAutocomplete">
        <mat-label>Project</mat-label>
        <mat-select [(value)]="selected">
            <mat-option>all</mat-option>
        </mat-select>
    </mat-form-field>
<!-- </form> -->
</div>