<app-navbar></app-navbar>
<div class="container">
  <div class="container container__row">
    <app-sidebar></app-sidebar>
    <!-- <div *ngIf="isEditCreateProject" class="container container__row"> -->
      <mat-divider [vertical]="true"></mat-divider>
      <div class="container container__row">
        <div class="container container__column filterComponet intrnalComponent">
          <app-filter [whichComponentRender]="componentName"></app-filter>
        </div>
        <mat-divider [vertical]="true"></mat-divider>

        <div class="container container__column">
          <!-- Main projects container -->

          <div class="container container__row header">
            <!-- title and buttons -> two separate divs that will be spaced at start and end of the bar -->
            <div>Projects</div>
            <div>
              <button mat-icon-button class="button" (click)="moveToCreateProject()">
                <mat-icon>add_box</mat-icon>
              </button>
            </div>
          </div>
          <!-- title bar ends here -->

          <app-projects-list></app-projects-list>

     
        </div>
        <!-- Main candidates container ends here -->
      </div>
    <!-- </div> -->
    <!-- <router-outlet ></router-outlet> -->
  </div>
</div>