<app-navbar></app-navbar>
<div class="container">
  <div class="container container__row">
    <app-sidebar></app-sidebar>
    <div class="container container__row internal">
      <mat-divider [vertical]="true"></mat-divider>
      <div class="container container__column">
        <h2 class='header-edit'>{{textHeader}}</h2>
        <form [formGroup]="projectForm" class="project input">

          <mat-form-field appearance="outline">
            <mat-label>Project Name</mat-label>
            <input matInput placeholder="Project Name" class="intrnalComponent">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Seniority</mat-label>
            <input matInput placeholder="Seniority">
          </mat-form-field>
          <div class="container container_row">
            <mat-form-field appearance="outline">
              <mat-label>From</mat-label>
              <input matInput placeholder="From" style="height: 5px">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>To</mat-label>
              <input matInput placeholder="To">
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Location">
          </mat-form-field>
          <mat-slide-toggle>Is public</mat-slide-toggle>
        </form>
        <h2 class='header-edit'>{{textBody}}</h2>
        <div>
          <mat-form-field class="example-full-width" appearance="outline"
            class="container container__column project input">
            <mat-label>Skill</mat-label>

            <input type="text" placeholder="Pick one" matInput [matAutocomplete]="auto" aria-label="Number"
              [formControl]="myControl">

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let skill of filteredOptions | async" [value]="skill" (click)="onSelection(skill)">
                {{skill}}
              </mat-option>ss
            </mat-autocomplete>
          </mat-form-field>

          <div *ngFor="let skillForProject of listOfSkillsForProject"
            class="container container__row project skills input">

            <div>{{skillForProject}}</div>

            <div><button mat-icon-button color="accent" *ngFor="let ratingId of ratingArray; index as i"
                [id]="'star_'+i" (click)="calculateRating(i+1)">
                <mat-icon>
                  {{ iconStatus(i) }}
                </mat-icon>
              </button>
              <button mat-icon-button color="accent" (click)="removeSkillFromProject(skillForProject)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>


          </div>


        </div>
        <form class="example-form">
          <mat-form-field class="example-full-width input " appearance="outline">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </form>
      </div>

    </div>
    <!-- <router-outlet ></router-outlet> -->
  </div>
</div>