@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Roboto:wght@100;400&display=swap');
// :host {
//     background-color: red;
// }
.intrnalComponent {
    align-content: space-around;
    height: 10px;
}

.input {
  align-content: space-between;
  margin-left: 20px;
}
.main {
    padding: 5%;
    min-width: 250px;
  }
.header-edit {
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    
  }
  
  .project {
    // overflow: hidden;
    // position: absolute;
    width: 300px;
    // height: 40px;
    display: flex;
    flex-direction: column;
    // justify-content: center; 
    // align-items: sta; 
}
