@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Roboto:wght@100;400&display=swap');
// :host {
//     background-color: red;
// }
.intrnalComponent {
    align-content: space-around;
    height: 100%;
}

.input {
  align-content: space-between;
  margin-left: 20px;
}
.main {
    padding: 5%;
    min-width: 250px;
  }
.header-edit {
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    
  }
  
  .project {
   
    width: 400px;
    // height: 40px;
    display: flex;
    flex-direction: column;
  
}
.skills{
  // display: flex;
  flex-direction: row;
  justify-content: space-between;
  // justify-items: stretch;
  align-items: center;
  
}

.example-form {
  min-width: 250px;
  max-width: 400px;
  // min-height: 200px;

  width: 100%;
  margin-top: 50px;
}

.example-full-width {
  width: 100%;
  min-height: 200px;
}
