
.border {
  border-radius: 10px ;
  padding: 2px;
  margin: 2px;
  
}:hover{
  cursor: pointer;
}

.cut-text {
  margin: 2%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;
  word-wrap: break-word;
  white-space: nowrap;
  height: auto;
}

.cut-text:hover {
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
}

.list {
  margin-left: 5%;
  margin-right: 5%;
}

.show-link {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}
