/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";


$color_light: white;
$color_dark: black;

html,
body {
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
This is our main styling container:
*/
.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  &__column {
    flex-direction: column;
  }
  &__row {
    flex-direction: row;
    &--center {
      justify-content: space-evenly;
    }
  }
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: black !important;
}

// ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
//   background-color: black !important;
// }

// ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
//   background-color: black !important;
// }

// ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//   background-color: black !important;
// }

.filterComponet {
  padding: 5px;
  width: 200px;
}

.header {
  width: 100%;
  min-width: 500px;
  background-color: beige;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  justify-content: space-between;
}
