/* You can add global styles to this file, and also import other style files */
$color_light: white;
$color_dark: black;

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
This is our main styling container:
*/
.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  &__column {
    flex-direction: column;
    width: 100%;
  }
  &__row {
    flex-direction: row;
    width: 100%;
    &--center {
      justify-content: space-evenly;
    }
  }
}

.filterComponet {
  padding: 5px;
  width: 200px;
}

.header {
  width: 100%;
  min-width: 500px;
  background-color: beige;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  justify-content: space-between;
  div {
    padding-left: 2vw;
  }
  button {
    gap: 1vw;
  }
  &--color {
    background-color: white;
  }
}
