<app-navbar></app-navbar>
<div class="container">
  <div class="container container__row">
    <app-sidebar></app-sidebar>
    <mat-divider [vertical]="true"></mat-divider>
    <div *ngIf="router.url != '/candidates/kanban'">
      <div class="container container__column filterComponet">
        <app-filter
          [whichComponentRender]="componentName"
          [isAutocomplete]="isAutocomplete"
        ></app-filter>
        <!-- Filters column -->

        <!-- <button style="width: 150px; height: 180px">Filters1</button>
      <button style="width: 150px; height: 230px">Filters2</button> -->
      </div>
      <mat-divider [vertical]="true"></mat-divider>
    </div>

    <!-- Main candidates container -->
    <div class="container container__column">
      <!-- title and buttons -> two separate divs that will be spaced at start and end of the bar -->
      <div class="container container__row header">
        <div>Candidates</div>
        <div>
          <a mat-icon-button routerLink="/candidates">
            <mat-icon>list</mat-icon>
          </a>
          <a mat-icon-button routerLink="/candidates/kanban">
            <mat-icon>view_column</mat-icon>
          </a>
        </div>
      </div>
      <!-- title bar ends here -->

      <!-- candidates list displays here -->
      <!-- <app-candidates-list></app-candidates-list> -->
      <router-outlet></router-outlet>
    </div>
    <!-- Main candidates container ends here -->
  </div>
  <!-- main container with sidebar ends here -->
</div>
