.sidebar-box {
  //   border-right: solid bisque 2px;
  width: 50px;
  height: 100%;

  &__flex-buttons {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.clicked-button{
  color: blue;
}

.mat-icon-button:hover{
  background-color:aquamarine;
}