<div *ngIf="interview!== undefined">
  <h1 mat-dialog-title>{{interview.candidateName}} {{interview.candidateLastName}}</h1>
  <div mat-dialog-content class="box">
    <div>Date: {{interview.date | date: 'dd.MM.yyyy'}}</div>
    <div>Candidate Status: {{interview.candidateStatus}}</div>
    <div>Candidate Email: {{interview.candidateEmail}}</div>
    <div>Worker Email: {{interview.workerEmail}}</div>
    <div>Type: {{interview.type}}</div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>